<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
         <img ng-src="http://via.placeholder.com/350x150" class="img-responsive center-align" ng-hide="filepreview"/>
         <canvas id="myCanvas"></canvas>
         <img ng-src="{{filepreview}}" id="myImage" class="img-responsive" ng-show="filepreview"/>
      </div>
    </div>
    <div class="row">
      <p>
        <input class="center-align btn btn-primary" type="file" fileinput="file" filepreview="filepreview"/>
      </p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-6">
        <input type="file" fileinput="file" filepreview="filepreview"/>
    </div>
  </div> -->
</section>
